body{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:Arial;
background:#4facfe;
}

.container{
background:white;
padding:30px;
border-radius:10px;
width:350px;
text-align:center;
}

input,select,button{
width:100%;
padding:10px;
margin:10px 0;
}

button{
background:#007bff;
color:white;
border:none;
}